*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
*::selection{
    color: #fff;
    background: black;
}

#page1{
    min-height: 100vh;  
    position: relative;
    width: 100%;
    padding-top: 19vh;
}
#page1 h1{
    font-size: 16vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -8px;
}
#videocontainer{

    height: 100vh;
    width: 100%;
    margin-top: 3vw;
}
#videocontainer #play{
    padding: 3vw 2.2vw;
    background: black;
    color: #fff;
    text-transform: uppercase;
    font-family: futura;
    font-size: 1.3vw;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
#videocontainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vh 1vh;
}
#page2 .elem{
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
}
#page2 .elem .dets{
    height: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 17%;
    background-color: palegoldenrod;
    border-radius: 50px;
}

#page2 .elem .dets span{

align-items: center;
   flex-direction: row;
   object-fit: cover;
   justify-content: space-between;

   position: absolute;
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}



@media(max-width:600px)
{
    #page1 h1{
        font-size: 15.8vw;
        padding: 0vw 1vw;
        line-height: 14vw;
        letter-spacing: -3px;
        cursor: pointer;
    } 

    #videocontainer{

        height: 25vh;
        width: 100%;
        background: grey;
        margin-top: 5vw;
    }

    #page1{
        min-height: 60vh;  
        position: relative;
        width: 100%;
        padding-top: 19vh;
    }


    #videocontainer #play{
        padding: 9.5vw 7vw;
        font-size: 4.5vw;
        position: absolute;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
        top: 80%;
        left: 50%;
    }

    #page2{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column   ;
        padding: 3vh 1vh;
        
    }
    #page2 .elem{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom:3vh ;
    }
    #page2 .elem img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        scale: 1.2;
    }

   
}
